.monthCalendar {
  border: none;
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
}

.invalidDate {
  text-decoration: line-through;
  font-weight: 100;
  color: gray;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
}

.validDate {
  font-weight: 700;
  color: black;
  background-color: white;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
}

button.invalidDate:hover {
  cursor: auto;
}

button.validDate:hover {
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
}

button.validDate:focus {
  outline-width: 0;
  border-color: white;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.daysOfWeek {
  font-weight: 300;
  font-size: 0.8em;
  color: grey;
}